<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

RewriteCond %{HTTP_HOST} ^myclasstube.com [NC]
RewriteRule ^(.*)$ http://www.myclasstube.com/$1 [L,R=301]
</IfModule>